<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GhostMacro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JARVIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GhostMacro.Properties.Settings>
            <setting name="SavedSelectAll" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="SavedHide" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="SavedMessage" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="SavedViewAll" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="SavedNextPage" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="SavedBrowser" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="SavedCopyKey" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedCopyDelay" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedFindKey" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedFindDelay" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedHideKey" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedHideDelay" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedMessageKey" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedMessageDelay" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedStatusKey" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedSelectAllDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedHideDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedMessageDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedViewAllDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedNextPageDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedBrowserDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedLicenseKey" serializeAs="String">
                <value>0</value>
            </setting>
        </GhostMacro.Properties.Settings>
        <JARVIS.Properties.Settings>
            <setting name="SavedSelectAll" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedHide" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedMessage" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedViewAll" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedNextPage" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedBrowser" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedCopyKey" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedCopyDelay" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedFindKey" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedFindDelay" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedHideKey" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedHideDelay" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedMessageKey" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedMessageDelay" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedStatusKey" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedSelectAllDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedHideDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedMessageDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedViewAllDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedNextPageDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="SavedBrowserDelayCoor" serializeAs="String">
                <value>0,0</value>
            </setting>
        </JARVIS.Properties.Settings>
    </userSettings>
</configuration>